.main-about-us{
    background-color:var(--color-white);
}
.section-aboutus {
    width:90%;
    margin:0 auto;
    padding:5rem 0rem;
}

.menu-toggle > *{
	font-size:3rem;
	color:var(--color-blue-1)
}

.section-quick-links {
    display:grid;
    position: fixed;
    z-index: 100;
    top:40%;
    left:60%;    
}
.section-quick-links a{
    color:#fff;
    background: var(--color-blue-1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-weight: bold;
    opacity: 0.7;
}

.firm-section h2 , .section-leadership h2{
    color:var(--color-blue-1);
}
.main-about-us p{
   color:var(--color-blue-1);
}
.frim-details-grid {
    display:grid;
    grid-template-columns: auto auto;
}
.firm-grid-item {
    padding:15px;
    border-bottom: 2px solid var(--color-blue-2);
}
.border{
   height:10px;
   width:2px;
   color:var(--color-blue-2);
}
.border {
    height: 30px;
    width: 2px;
    background-color: var(--color-blue-2);
    position: absolute;
    left: -14px;
    top: 11px;
}
.firm-grid-item.left
{
    display: flex;
    position: relative;
}

.section-firm-two {
    margin:4rem 0;
 }
 .section-firm-two p{
   padding-top:10px
 }
 
 .section-faces {
   display:grid;
   grid-template-columns:repeat(6,1fr);
   grid-gap:1rem
 }
 .section-faces p{
   grid-column: span 3;
 }
 /* .section-leadership .leadership-grid .leadership-grid-item img {
    width:201px;
   
} */
.leadership-grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
    background-color:var(--color-blue-3);
    place-items: center;
}
.leadership-grid{
    padding:10px;
}
.leadership-grid-content{
    background-color: #ffffff;
    opacity: 0.6;
}
.leadership-grid-content h3 , .leadership-grid-content p{
    color:var(--color-blue-1);
}
.leadership-grid-content p{
    font-size:1.2rem;
    font-weight: 300;
}
.leadership-grid-item{
    position:relative;
    grid-column: span 2;
}
/* .leadership-grid-main{
    padding-top:10px;
} */
.leadership-grid-content {
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    bottom:0px;
    width:100%;
    text-align: center;
}
.section-vision h2{
    color:var(--color-blue-1);
    
}
.section-vision h3{
    text-align: center;
    color:var(--color-blue-1);
}
.section-vision{
    padding:2rem 0rem;

}
.section-vision h3{
    padding:10px 0 10px 0;
    
}
.mission{
    padding:2rem 0;
}
.section-core-grid-item img{
    width:100px;
    margin:auto;
}

.section-core-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:1rem;
  
}
.section-core-grid-item{
    border: 1px solid var(--color-blue-1);
    padding:1rem;
    grid-column: span 3;
}
.section-core-values{
    padding-top:10px;
}



.firm-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
}
.firm-grid p{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frim-details-grid{
    grid-column: span 2;
}
.section2-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
}
.section2-grid div{
    grid-column: span 2;
}


@media only screen and (min-width: 768px) {
    .main-about-us .socials-pc .social-container span{
        color: var(--main-color);
    }
    .nav-links a{
        color: var(--main-color);
    }
    .firm-grid p{
        grid-column: span 2;
    }
    .frim-details-grid{
        grid-column: span 2;
    }
    .section2-grid div{
        grid-column: span 2;
    }
    .leadership-grid-item{
        grid-column: span 1;
    }
    .section-core-grid-item{
        grid-column: span 2;
    }
    .section-quick-links {
        left:80%;
        right:0;   
    }
    .section-faces p{
        grid-column: span 1;
    }
}