@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #1d2951;
	--main-font: 'Open Sans', sans-serif;
	--section-width: 85%;

	--color-white: #fff;
	--color-blue-1: #2b6777;
	--color-blue-2: #52ab98;
	--color-blue-3: #c8d8e4;
	--color-blue-4: #f2f2f2;
}

html {
	scroll-behavior: smooth;
	font-size: 14px;
	font-family: var(--main-font);
}

a {
	text-decoration: none;
	display: inline-block;
}

p {
	line-height: 1.5;
	font-weight: 500;
}

img {
	max-width: 100%;
	display: block;
}

/* li{
	list-style: none;
} */

#particles-js {
	position: relative;
	height: 70vh;
	background-color: var(--color-blue-1);
}

.landing-screen {
	position: absolute;
	left: 6%;
	color: var(--color-blue-4);
	width: var(--section-width);
	padding-top: 10rem;
}

.landing-screen h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

.landing-screen button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;
	background-color: var(--color-blue-4);
	color: var(--color-blue-1);
	font-weight: 800;
}

.wave {
	position: absolute;
	top:86%;
}
/*header*/
.nav{
	height:4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:2.5rem 1.6rem;
}
.open-navbar .nav::before {
	opacity: 1;
    transform: scale(1);
}
.nav::before{
	content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}
.menu-toggle > *{
	font-size:2.5rem;
	color:var(--color-blue-4)
}
.logo{
	height:60px;
}
.nav-items{
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var();
	position: fixed;
	top:0;
	left:100%;
	/*width:80%;*/
	width:83%;
	z-index:999;
	background-color:#fff;
	height:100vh;
	transition: all 0.6s ease-in-out;
	opacity: 0.94;
}
.active-navbar{
	left:20%
}
.nav-items .close-button{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:1.3rem 2rem;
	border-bottom: 1px solid black;
	width:100%;
	
}
.nav-items .close-button p{
	font-weight: bold;
}
.close-button .close{
	font-size:2rem
}
.nav-links a{
	margin-left:1rem;
	padding:1rem;
	font-weight: bold;
	color:var(--color-blue-1)
}	

/*main*/


footer {
	background-color: var(--color-blue-1);
}

.footer-container {
	width: var(--section-width);
	margin: auto;
	padding-top: 3rem;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer-grid-item {
	grid-column: span 4
}

.footer-grid-item h3 {
	color: var(--color-blue-3);
	margin-bottom: 0.3rem;
}

.footer-grid-item p,
li {
	color: var(--color-blue-4)
}

.footer-grid-item li {
	margin-left: 1.2rem;
}

.footer-bottom {
	background-color: var(--color-blue-3);
	color: var(--color-blue-1);
	text-align: center;
	padding: 0.6rem 0;
	margin-top: 3rem;
}

.footer-bottom .socials {
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials span {
	font-size: 1.6rem;
	padding: 0.6rem;
}

/*Contact*/
.contact-container {
	width: var(--section-width);
	margin: auto;
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.slider-text>* {
	color: var(--color-blue-1);
}

.contact-form {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.contact-form h2 {
	color: var(--color-blue-1);
	padding: 1rem;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
}

.contact-grid-item1,
.contact-grid-item2 {
	grid-column: span 5;
}

/*title grid*/
.title p{
	margin-top: 1rem;
}
.contact-slide-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.contact-slide-grid div {
	grid-column: span 2
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	width: 90%;
	margin:auto;
	margin-top:1.2rem;
  }
  
  .form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1rem;
	color: var(--color-blue-1);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
  }
  .form__field::placeholder {
	color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
	font-size: 1rem;
	cursor: text;
	top: 20px;
  }
  
  .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--color-blue-1);
  }
  
  .form__field:focus {
	padding-bottom: 6px;
	border-width: 3px;
	border-image: linear-gradient(to right, var(--color-blue-1), var(--color-blue-2));
	border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--color-blue-1);
	font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
	box-shadow: none;
  }
  


.contact-submit {
	padding: 1rem 3rem;
	width: 90%;
	margin: auto;
	margin-top: 2rem;
	text-transform: uppercase;
	border: none;
	background: var(--color-blue-1);
	color: var(--color-blue-4);
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

/*Testimonial*/
.testimonial-container{
	width:var(--section-width);
	margin:auto;
	margin-bottom:3rem;
}
.testimonial-container h2{
	text-align: center;
	color:var(--color-blue-1);
}
.testimonial-slide-grid{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	place-items:center;
}
.testimonial-image, .testimonial-content{
	grid-column: span 5;
}
.testimonial-image img{
	border-radius: 50% ;
	border:2px solid var(--color-blue-1);
	padding:0.3rem;
	margin:3.5rem 0rem;
}
.testimonial-content h2{
	text-align: left;
	margin-bottom:0.4rem;
}
.testimonial-name{
	display: flex;
	align-items: center;
	margin-bottom:0.6rem ;
}
.testimonial-content{
	position:relative;
	margin-bottom:2rem;
}
.testimonial-content .quote-left{
	position: absolute;
	top:-12%;
	left:0;
	font-size:3rem;
	z-index:-20;
	color:var(--color-blue-2);
	opacity:0.3;
	transform: rotate(5deg)
}
.quote-right{
	position: absolute;
	top:90%;
	left:80%;
	display: flex;
	justify-content: flex-end;
	font-size:3rem;
	z-index:-20;
	color:var(--color-blue-2);
	opacity:0.3;
	transform: rotate(5deg)
}
/*Header ends*/
@media only screen and (min-width: 768px) {
	.menu-toggle{
		display: none;
		
	}

	.open-navbar .nav::before {
		opacity: 0;
		transform: scale(0);
	}
	.nav-items{
		flex-direction: row;
		list-style: none;
		background-color: transparent;
		position: static;

		height:4rem;
		transition: none;
		opacity: 1;
	}
	.nav-links a{
		color: var(--color-blue-4)
	}
	.nav-items .close-button {
		display: none;
	}
	.footer-grid-item {
		grid-column: span 1
	}

	.wave {
		top: 79%;
	}

	.landing-screen {
		width: 50%;
		padding-top: 18rem;
	}

	.landing-screen h1 {
		font-size: 4rem;
	}

	.landing-screen button {
		margin-top: 2rem;
		padding: 1rem 1rem;

	}

	.contact-grid-item1 {
		grid-column: span 3;
	}

	.contact-grid-item2 {
		grid-column: span 2;
	}

	.title h2 {
		margin-bottom: 1rem;
	}

	.title p {
		width: 70%;
	}

	.contact-grid-item1 {
		grid-column: span 2
	}

	.contact-grid-item2 {
		grid-column: span 3
	}
	.testimonial-image{
		grid-column: span 2;
	} 
	.testimonial-content{
		grid-column: span 3;
	}
}



@media only screen and (min-width: 1024px) {

	li,
	p {
		line-height: 1.8rem;
	}

	#particles-js {
		height: 80vh;
	}

	.landing-screen {
		width: 50%;
		/*padding-top: 10rem;*/
		padding-top: 7rem;
	}

	.wave {
		top: 44%;
	}

	.landing-screen p {
		width: 60%;
	}

	.footer-container {
		padding: 4rem 0;
		;
	}

	.contact-slide-grid div {
		grid-column: span 1
	}

	.contact-slide-grid h2 {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.1rem;
	}

	.contact-grid-item1 {
		margin-top: 3rem;
	}

	.title p {
		width: 90%;
		
	}

	.contact-grid-item1 {
		grid-column: span 3
	}

	.contact-grid-item2 {
		grid-column: span 2
	}

	/*header*/
	.burger {
		display: none;
	}

	.nav-links {
		position: unset;
		height: 8vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		transform: translate(0);
		width: 75%;
	}

	.nav-links li {
		opacity: 1;

	}

	/*Header ends*/
	.testimonial-container h2{
		font-size: 2rem;
	}
}